
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin: 0;
    padding: 0;
}
.productlist{
    display: flex;
    justify-content: space-around;
}
.items{
    margin: 0;
    padding: 0;
}